div {
    font-size: 200px;
    display: inline-block;
}

#cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
}